body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: black;
	text-decoration: none;
}

p a {
	color: #555;
	text-decoration: underline;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.page-title {
	font-size: 2rem;
	margin: 0 0 1rem;
}

.page-content {
	max-width: 50rem;
	margin: 3rem auto 0;
	padding: 1rem;
}

.read-more {
	font-size: .7rem;
	margin-top: .2rem;
}

#homepage {
	.introduction {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: space-around;
		margin: 5rem auto;
		max-width: 50rem;
		padding: 0 1rem;

		.portrait {
			display: inline-block;
			width: 10rem;
			flex: 0 0;
		}

		h1 {
			font-size: 2rem;
			margin: 0;
		}

		article {
			display: inline-block;
			max-width: 30rem;
			padding: 0 1rem;
		}
	}

	.blog-snippet {
		border-radius: 5px;
		margin: 5rem auto 0;
		max-width: 50rem;
		padding: 0 1rem;
	}

	.blog-snippet header {
		border-bottom: 1px solid #000;
		padding-bottom: .5rem;
		margin-bottom: .5rem;
	}

	.blog-snippet .see-all {
		display: inline-block;
		margin-top: 1rem;
	}
}

.blog-summary {
	color: black;
	display: block;
	margin: 1.5rem 0;
	text-decoration:none;
	
	h3 {
		display: block;
		margin: 0;
	}

	p {
		margin: .5rem 0 0 0;
	}
}

#top-nav {
	align-items: center;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	margin: 0 1rem;
	padding: 1rem;

	.title {
		color: black;
		font-size: 1.5rem;
		font-weight: bold;
		margin: 0;
		padding: 0;
		text-decoration: none;
	}

	li {
		display: inline-block;
		padding: 0 .5rem;
	}
}

#mobile-nav {
	display: none;
	border-top: 1px solid black;
	margin: 1rem 1rem 0;
	padding: 1rem;

	a {
		display: block;
		padding: .3rem 0;
		text-align: center;
	}
}

@media (max-width:481px) {
	#top-nav {
		ul {
			display: none;
		}
	}
	#mobile-nav {
		display: block;
	}
}

#blog-post {
	header {
		text-align: center;
	}

	.blog-body {
		max-width: 40rem;
	}

	pre {
		overflow: scroll;
		padding: 0 1rem;
	}
}

#blog-list {
	li {
		margin: 2rem 0;
	}

	h3 {
		display: inline-block;
		margin: 0;
	}

	p {
		margin: .5rem 0;
	}
}